@charset "UTF-8";


    .row.content {height: 1500px}
    
    .sidenav {
      background-color: #5bc0de;
      height: 6000px;
    }

    .active_1 {
      background-color: #ffffff;
      border-radius:4px;
    }
    
    .s_title {
      height:30px;
    }
    
    .col-sm-4{
    	width:18%;
    }

	.r_th_style{
		text-align:center;
	}
	
	.i_th_style{
		text-align:center;
	}
	
	
	.r_td_style{
		height:50px;
	}
    
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }

    .container{
    	margin-left:0px;
    	width:100%;
    }
    
    .span-font{
    	color:#999999;
    }
    
 